
      <div class="measurement-container">
        <div class="measurement"><%= obj.Distance %></div>
        <div class="unit">cm</div>
        <div class="description">here is a measurement</div>
      </div>
    

